body {
    margin: 0;
    background-color: #EADDCA;
    text-align: center;
}
.italic {
    /* font-style: italic; */
    font-weight: bold;
    text-align: center;
    font-family: DejaVu Sans Mono, monospace;
}
.about_me{
    font-weight: bold;
    font-family: monospace;
    text-align: left;
    text-decoration: underline;
}
.description {
    font-family: monospace;
    text-align: left;
}
.imgs {
    max-height: 50px;
    max-width: auto;
    /* float: right; */
}