body {
    margin: 0;
    background: #EADDCA;
    /* text-align: center; */
}
.italic {
    font-style: italic;
    font-family: DejaVu Sans Mono, monospace;
}
.description {
    font-family: monospace;
}